@model FinalProject.WEB.Models.DiverViewModel
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_DiverLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/form.css">
    <style>
        h2 {
            color red;
        }
    </style>
</head>
<form class="decor" method="post">
    <div class="form-inner">
        <h3>Change your info</h3>
        <label>Telephone number</label>
        <input type="number" name="telNumber" value="@Model.TelNumber" required />
        <label>Email</label>
        <input type="email" name="email" value="@Model.Email" required />
        <label>#Device</label>
        <input type="number" name="deviceNumber" value="@Model.DeviceNumber" required />
        <label>Name</label>
        <input type="text" name="name" value="@Model.Name" required />
        <label>Surname</label>
        <input type="text" name="surname" value="@Model.Surname" required />
        <label>Age</label>
        <input type="number" name="age" value="@Model.Age" required />
        <input type="hidden" value="@Model.IdDiver" name="idDiver" />
        <input type="submit" value="Change diver's info">
        <h2>Change error! try again</h2>
    </div>
</form>