@model FinalProject.WEB.Models.UserViewModel
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_DiverLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/form.css">
</head>
<form class="decor" method="post">
    <div class="form-inner">
        <h3>Change your info</h3>
        <label>Login</label>
        <input type="text" name="login" value="@Model.Login" required />
        <label>Password</label>
        <input type="password" name="password" value="@Model.Password" required />
        <input type="hidden" value="@Model.IdUser" name="idUser" />
        <input type="hidden" value="@Model.UserType" name="userType" />
        <input type="submit" value="Change user's info">
        <h3>@ViewBag.Message</h3>
    </div>
</form>