<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dive Control</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        #mainPageNavbar {
            background: black;
        }

        #navBarTitle {
            color: aqua;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        #navBarElement {
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar sticky-top navbar-expand-lg " id="mainPageNavbar">
            <a class="navbar-brand" href="#" id="navBarTitle">Dive Control</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("ChangeUser", "Diver")" id="navBarElement">Change user info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ChangeDiver", "Diver")" id="navBarElement">Change diver info</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("GetLog", "Dive")" id="navBarElement">Get DiveLog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("AddMeasurement", "Dive")" id="navBarElement">Add dive measurement</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("AddDive", "Dive")" id="navBarElement">Add dive</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("GetAllMeasurement", "Dive")" id="navBarElement">Show all measurements</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("GetOxygen", "Calculation")" id="navBarElement">Calculate required oxygen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("GetAllowedTime", "Calculation")" id="navBarElement">Calculate allowed divetime</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("LogOut", "DiverMenu")" id="navBarElement">Logout</a>
                    </li>
                    
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
